# Dependencies
node_modules/

# Build outputs
build/
dist/

# Test coverage
coverage/

# OS / Editor files
.DS_Store

# Logs
*.log

# Environment variables
.env*
!.env.example

# SQLite Databases (Protects your local database from Git operations)
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
